$primary-color: #1976d2;
$primary-color-light-1: lighten($primary-color, 5%);
$primary-color-light: #63a4ff;
$primary-color-dark: #004ba0;

$color-error: red;

$color-white: #fff;
$color-black: #000;

$color-grey-dark: #444;
$color-grey-dark-1: rgba($color-grey-dark, .4);
$color-grey-light: #ccc;
$color-grey-light-1: #ddd;
$color-grey-light-2: #eee;
